{% extends  templ  %}
{% block main_content %}
<div id="myCarousel" class="carousel slide" data-pause="remove">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/img/img2.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Welcome to NovaJoy!
                    </h1>
                    <p class="lead">
                        This service provides you opportunity to collect all
                        news from favourite rssfeeds in one container
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/img1.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Various container types
                    </h1>
                    <p class="lead">
                        Choose between PDF, DOC, HTML, EPUB
                        collection container formats
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/img3.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Schedule your news
                    </h1>
                    <p class="lead">
                        Receive your news almost anytime you want
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="container"></div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

{% endblock %}
