<!DOCTYPE html>
<html>
<head>
    <title>Password change</title>
</head>
<body>

<form id="chngPass">
    <table border="0" cellspacing="20" cellpadding="0">
        <tr>
            <td>Old Password</td>
            <td><input type="text" name="oldPassword" id="oldPassword"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="text" name="newPassword" id="newPassword"></td>
        </tr>
        <tr>
            <td>Confirm new password</td>
            <td><input type="text" name="newPassword2" id="newPassword2"></td>
        </tr>
    </table>
</form>

</body>
</html>