{% extends  templ  %}


{% block main_content %}
    <div class="container marketing">
        <div class="featurette">
            <img class="featurette-image pull-left" src="/static/img/cscenter.jpg">
            <h2 class="featurette-heading">
                NJ created by students and instructor crew
    			<span class="muted">from
                    <a href="http://compscicenter.ru/">CScenter</a>  SPB
    				</span>
            </h2>
            <p class="lead">
                For all questions, please, email us on <a href="mailto:novajoy.org@gmail.com"> novajoy.org@gmail.com</a>
            </p>
        </div>
    </div>


{% endblock %}