<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
<p><b>New Collection</b>.Enter name of collection and update interval.</p>

<form id="myform">
    <table border="0" cellspacing="20" cellpadding="0">
        <tr>
            <td>Name collection</td>
            <td><input type="text" name="nameCollection" id="nameCollection"></td>
        </tr>
        <br>
        <tr>
            <td>Update interval</td>
            <td><select name="updateInterval" id="updateInterval" size="1">
                <option value="15min">15 min.</option>
                <option value="20min">30 min.</option>
                <option value="1h">1 h.</option>
                <option value="2h">2 h.</option>
                <option value="4h">4 h.</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Sending time</td>
            <td><select name="sendingTime" id="sendingTime" size="1">
                <option value="8">8:00</option>
                <option value="9">9:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
                <option value="00">00:00</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Format</td>
            <td><select name="format" id="format" size="1">
                <option value="pdf">PDF</option>
                <option value="doc">DOC</option>
                <option value="html">HTML</option>
                <option value="fb2">FB2</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Letter subject</td>
            <td><input type="text" name="subject" id="subject"></td>
        </tr>
    </table>
</form>
</body>
</html>