{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>Please Sign In</legend>
                {% if form.errors %}
                    <span class="errorMess">Incorrect Username or Password!</span>
                {% endif %}
                <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
                <dl>
                <dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
                <dd>{{ form.username }}</dd>
                <dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
                <dd>{{ form.password }}</dd>
                    <label class="checkbox">
                        <input type="checkbox" name="remember" value="1"> Remember Me
                    </label>
                    <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
                </dl>
                </form>
                <button type="button" onclick="location.href='/accounts/passwordReset/'" name="forgot_password" class="btn btn-info btn-block">Forgot the password</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
{% endblock %}