{% extends "registration/bar2.html" %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Collections</li>
                        <li class="active"></li>
                        <div class="collection">
                            {% for col in collection %}
                                <div><p><a href="#" title='{{ col }}'>{{ col }}</a></div>
                                </p>
                            {% endfor %}
                        </div>
                        <button id="newCollection" class="btn btn-primary" href="#" onclick='clickNewCollection()'>Add collection&nbsp;<i class="icon-plus-sign"></i></button></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span--></p>

            <div class="span9">

                <!--/row-->
                <!--/row-->
                <div class="row-fluid">

                </div><table class="table"><tbody><tr><td><button id="addURL" class="btn btn-large btn-primary" onclick="addRSS()">Add rssfeed<br></button></td><td class=""><button id="editCollection" class="btn btn-large jetstrap-selected btn-primary" onclick='editCollection()'>Edit collection</button></td><td class=""><button id="removeCollection" class="btn btn-large btn-warning" onclick='clickRemoveCollection()'>Delete collection<br></button></td></tr></tbody></table>
                <div class="place_for_name_collection"></div>
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header text-center">RSS FEEDS</li>
                        <li class="active"></li>
                        <div class="listURL"></div>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div></div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
    {#</div>#}

    <div id="dialog1" >
        {% include "dialog.html" %}
    </div>
    <div id="dialogRemoveRSS" >
        {% include "dialogRemoveRSS.html" %}
    </div>

    <div id="changePassword" >
        {% include "changePassword.html" %}
    </div>
    <img id="loadImg" src="/static/load.gif" />
{% endblock %}