{% extends "registration/bar2.html" %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Collections</li>
                        <li class="active"></li>
                        <div class="collection">
                            {% for col in collection %}
                                <div><p><span title='{{ col }}'>{{ col }}</span></div>
                                </p>
                            {% endfor %}
                        </div>
                        <a id="newCollection" class="btn btn-primary" href="#" onclick='clickNewCollection()'>Add collection&nbsp;<i class="icon-plus-sign"></i></a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span9"><div class="row-fluid">
                <!--/span-->
                <!--/span-->
                <!--/span-->
            </div>

                <!--/row-->
                <!--/row-->
                <div class="row-fluid">
                </div><div class="row-fluid">

                </div><table class="table"><tbody><tr><td><a id="addURL" class="btn btn-large btn-primary" onclick="addRSS()">Add rssfeed<br></a></td><td class=""><a id="editCollection" class="btn btn-large jetstrap-selected btn-primary" onclick='editCollection()'>Edit collection</a></td><td class=""><a id="removeCollection" class="btn btn-large btn-warning" onclick='clickRemoveCollection()'>Delete collection<br></a></td></tr></tbody></table><div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header text-center">RSS FEEDS</li>
                        <li class="active"></li>
                        <div class="listURL"></div>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><div class="container"></div><div class="container"></div><div class="control-group"><div class="controls"></div></div><div class="btn-group"></div></div><!--/span-->
        </div><!--/row-->

        <div class="container"></div><hr class="">

    </div><!--/.fluid-container-->
    {#</div>#}

    <div id="dialog1" >
        {% include "dialog.html" %}
    </div>
    <img id="loadImg" src="/static/load.gif" />
{% endblock %}