{% extends "registration/bar1.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs" xmlns="http://www.w3.org/1999/html"></div>{% endblock %}


{% block main_content %}


    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend><b>Password reset</b></legend>
                <p class="text-center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="username" value={{ username }}>
                    <label for="id_password1">Password:</label>
                    {% if form.password1.errors %}
                        <p class="errors">{{ form.password1.errors.as_text }}</p>
                    {% endif %}
                    {{ form.password1 }}
                    </p>
                    <p>
                        <label for="id_password2">Password (type again to catch typos):</label>
                        {% if form.password2.errors %}
                            <p class="errors">{{ form.password2.errors.as_text }}</p>
                        {% endif %}
                    {{ form.password2 }}
                </p>
                    <input type="submit" value="{% trans 'Reset my password' %}" /></p>


                </form>
            </div>
        </div>
    </div>

{% endblock %}
