{% extends "registration/bar1.html" %}

{% block main_content %}

<div class="container"></div><div class="container-fluid">


    <div class="container">
        <div class="container">
            <div class="row">
                <div class="span4 offset4 well">
                    <legend>Please Log In</legend>
                    {% if form.errors %}
                        <p class="errorMess">Please correct the errors below: {{ form.non_field_errors }}</p>
                    {% endif %}

                    <h1>Create an account</h1>

                    <form method="post" action="" class="wide">
                        {% csrf_token %}
                        <p>
                            <label for="id_username">Username:</label>
                            {% if form.username.errors %}
                                <p class="errorMess">{{ form.username.errors.as_text }}</p>
                            {% endif %}
                        {{ form.username }}
                        </p>

                        <p>
                            <label for="id_email">Email address:</label>
                            {% if form.email.errors %}
                                <p class="errorMess">{{ form.email.errors.as_text }}</p>
                            {% endif %}
                        {{ form.email }}
                        </p>
                        <p>
                            <label for="id_password1">Password:</label>
                            {% if form.password1.errors %}
                                <p class="errorMess">{{ form.password1.errors.as_text }}</p>
                            {% endif %}
                        {{ form.password1 }}
                        </p>
                        <p>
                            <label for="id_password2">Password (type again to catch typos):</label>
                            {% if form.password2.errors %}
                                <p class="errorMess">{{ form.password2.errors.as_text }}</p>
                            {% endif %}
                        {{ form.password2 }}
                        </p>

                        <p>
                            <label for="id_age">age:</label>
                            {% if form.age.errors %}
                                <p class="errorMess">{{ form.age.errors.as_text }}</p>
                            {% endif %}
                        {{ form.age }}
                        </p>

                        <p>
                            <label for="id_captcha">captcha:</label>
                            {% if form.captcha.errors %}
                                <p class="errorMess">{{ form.captcha.errors.as_text }}</p>
                            {% endif %}
                        {{ form.captcha }}
                        </p>
                        <p class="submit"><input class="submit_button" type="submit" value="Register &rarr;"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--/.fluid-container-->
{% endblock %}