{% extends "registration/bar1.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs"></div>{% endblock %}

{% block main_content %}

    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>Password reset</legend>
            <div class="errorMess">
                {% if form.captcha.errors %}
                    <p class="errors">{{ form.captcha.errors.as_text }}</p>
                {% endif %}
            </div>
                <div class="errorMess">
                {% if form.email.errors %}
                    <p class="errors">{{ form.email.errors.as_text }}</p>
                    </p>
                {% endif %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <dl>
                        <dt><label for="id_email">Email:</label>
                        {{ form.email }}
                        </dt>
                        <dt><label for="id_captcha_1">captcha:</label>{{ form.captcha }}
                        </dt>
                        <button type="submit" name="submit" class="btn btn-info btn-block">Reset my password</button>
                    </dl>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
